snippet desc "Jasmine Test" b
describe('${1:Feature XY}', () => {
	it('${2:should....}', () => {
		$0
	});
});
endsnippet

snippet it "It should..." b
it('${2:should....}', () => {
	$0
});
endsnippet
