*.swp
*.swo

.DS_Store
.VimballRecord
.netrwhist
tags

/.claude/

dot_vim/undo/*
dot_vim/plugged/*

dot_xmonad/xmonad
dot_xmonad/xmonad.hi
dot_xmonad/xmonad.o
dot_xmonad/xmonad.errors
dot_xmonad/xmonad-x86_64-linux
dot_xmonad/xmonad.state
