*.swp
*.swo

_vim/bundle/*
!_vim/bundle/.gitkeep

.DS_Store
eclim/
.hg*
.VimballRecord
.netrwhist
_vim/undo/*
_vim/plugged/*
hgrc
gitconfig
tags

_xmonad/xmonad
_xmonad/xmonad.hi
_xmonad/xmonad.hs
_xmonad/xmonad.o
_xmonad/xmonad.errors
_xmonad/xmonad-x86_64-linux
_xmonad/xmonad.state
