snippet rmdhead "Header part of a Rmd file" b
---
title: "$1"
author: "Robin Hafen"
date: "`date +"%e %B %Y"`"
output:
  pdf_document:
    toc: false
    highlight: tango
  html_document:
    toc: false
    theme: spacelab
    highlight: tango
---

$0
endsnippet
